<!DOCTYPE html>
<html>
<head>
  <title>Welcome Email</title>
  <style type="text/css">
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .header {
      background-color: #ff6f61;
      color: white;
      padding: 10px;
      text-align: center;
    }
    .content {
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1>Welcome ,</h1>
  </div>
  <div class="content">
    <p>Chúng tôi rất vui mừng khi chào đón bạn!</p>
    <a>Mã xác nhận của bạn là: </a>
  </div>
</body>
</html>